@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--font-cairo), sans-serif;
}


.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
    0%  {box-shadow: 20px 0 #fff, -20px 0 #ffffff33;background: #fff }
    33% {box-shadow: 20px 0 #fff, -20px 0 #ffffff33;background: #ffffff33}
    66% {box-shadow: 20px 0 #ffffff33,-20px 0 #fff; background: #ffffff33}
    100%{box-shadow: 20px 0 #ffffff33,-20px 0 #fff; background: #fff }
}